@model IEnumerable<FleetManager.Models.Vehicle>

@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                
            </p>
        </div>
    </section>
}

<div id="wrap">
    <div id="left_col">
        <h2>Vehicle</h2>
        <table>
            <tr>
                <th>Reg</th>
                <th>Make</th>
                <th>Model</th>
            </tr>
            
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Reg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Make.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
            </tr>
            }
        </table>
    </div>
    <div id="right_col">
        Hello right
        <div id="map">
            <iframe height="400px" width="100%" src="http://arcticpepper.com/map.html"></iframe>
        </div>
    </div>
</div>