@model FleetManager.Models.Vehicle

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Vehicle</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Reg)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Reg)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Make)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Make)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Model)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Model)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VehicleType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VehicleType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BodyType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BodyType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FuelType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FuelType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TaxClass)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TaxClass)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Transmission)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Transmission)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EngineSize)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EngineSize)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Colour)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Colour)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Base)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Base)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TankSize)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TankSize)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RoadTaxDue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RoadTaxDue)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MotDue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MotDue)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ServiceDue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ServiceDue)
    </div>
</fieldset>
<div>
    <iframe height="400px" width="100%" src="http://arcticpepper.com/map.html?center=@Model.CurrentLat:@Model.CurrentLng"></iframe>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
